In [1]:


#importing numpy libarary, It provides support for large, multi-dimensional arrays and matrices
import numpy as np
#importing numpy libarary, It provides support for data manipulation and analysis. 
import pandas as pd
# importing matplotlib.pyplot plotting library in Python that provides a MATLAB-like interface for creating visualizations. 
import matplotlib.pyplot as plt

In [2]:
#Reading the csv file using pandas function and saved in data variable
data = pd.read_csv("insurance_pre.csv")

In [3]:
data.shape

(1338, 6)

In [4]:
data.head()

   age     sex     bmi  children smoker      charges
0   19  female  27.900         0    yes  16884.92400
1   18    male  33.770         1     no   1725.55230
2   28    male  33.000         3     no   4449.46200
3   33    male  22.705         0     no  21984.47061
4   32    male  28.880         0     no   3866.85520

In [5]:
print(data.isnull().sum())

age         0
sex         0
bmi         0
children    0
smoker      0
charges     0
dtype: int64

In [6]:
data = pd.get_dummies(data, drop_first=True)#1st column is dropped, CA is dropped
data.head()

   age     bmi  children      charges  sex_male  smoker_yes
0   19  27.900         0  16884.92400         0           1
1   18  33.770         1   1725.55230         1           0
2   28  33.000         3   4449.46200         1           0
3   33  22.705         0  21984.47061         1           0
4   32  28.880         0   3866.85520         1           0

In [10]:
dependent =data[["charges"]]

independent =data[["age","bmi", "children", "sex_male","smoker_yes"]]

In [13]:
#importing train_test_split from sklearn.model_selection which is used for splitting the data into train and test
from sklearn.model_selection import train_test_split

#splitting Xtrain,X_test, y_train and y_test usiing train_test_split function. Train and test split ratio is 70% and 30% respectively
X_train, X_test, y_train, y_test = train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [89]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(criterion='mae',max_features='auto',splitter='random')
regressor= regressor.fit(X_train,y_train)

C:\Users\AB92922\anaconda3\lib\site-packages\sklearn\tree\_classes.py:366: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  warnings.warn(

In [90]:
#import matplotlib.pyplot as plt
#from sklearn import tree
#tree.plot_tree(regressor)
#plt.show()

In [91]:
#machine learning regressor (regressor) to make predictions and saved in y_pred variable
y_pred = regressor.predict(X_test)

In [92]:
#importing r2_score libarary from sklearn.metrics for model evaulvation
from sklearn.metrics import r2_score
#checking r2 square value between y_test and y_pred
r2_score =r2_score(y_test,y_pred)
#printing r2 square value   #  standardising value
r2_score

0.7455176905142622

In [95]:
import pickle
#model saved in save fomat
filenmae = 'ModelInsuranceDTBest.sav'
#pickle.dump() serializes the regressor object and writes it to the specified file (filename) in binary mode ('wb').
pickle.dump(regressor, open(filenmae, 'wb'))

In [97]:
# the mode 'rb' used in file operations stands for "read binary" and saved in laoded model
loaded_model = pickle.load(open('ModelInsuranceDTBest.sav','rb'))
#using predict keyeword, predicting 15 years of experience of emplyee and predicted value store in result variable
result = loaded_model.predict([[25,37,1,1,0]])
#pring the result
print(result)

[3309.7926]

C:\Users\AB92922\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(