In [134]:


#importing numpy libarary, It provides support for large, multi-dimensional arrays and matrices
import numpy as np
#importing numpy libarary, It provides support for data manipulation and analysis. 
import pandas as pd
# importing matplotlib.pyplot plotting library in Python that provides a MATLAB-like interface for creating visualizations. 
import matplotlib.pyplot as plt

In [135]:
#Reading the csv file using pandas function and saved in data variable
data = pd.read_csv("insurance_pre.csv")

In [136]:
data.shape

(1338, 6)

In [137]:
data.head()

   age     sex     bmi  children smoker      charges
0   19  female  27.900         0    yes  16884.92400
1   18    male  33.770         1     no   1725.55230
2   28    male  33.000         3     no   4449.46200
3   33    male  22.705         0     no  21984.47061
4   32    male  28.880         0     no   3866.85520

In [138]:
print(data.isnull().sum())

age         0
sex         0
bmi         0
children    0
smoker      0
charges     0
dtype: int64

In [139]:
data = pd.get_dummies(data, drop_first=True)#1st column is dropped, CA is dropped
data.head()

   age     bmi  children      charges  sex_male  smoker_yes
0   19  27.900         0  16884.92400         0           1
1   18  33.770         1   1725.55230         1           0
2   28  33.000         3   4449.46200         1           0
3   33  22.705         0  21984.47061         1           0
4   32  28.880         0   3866.85520         1           0

In [144]:
dependent =data[["charges"]]

independent =data[["age","bmi", "children", "sex_male","smoker_yes"]]

In [158]:
#importing train_test_split from sklearn.model_selection which is used for splitting the data into train and test
from sklearn.model_selection import train_test_split

#splitting Xtrain,X_test, y_train and y_test usiing train_test_split function. Train and test split ratio is 70% and 30% respectively
X_train, X_test, y_train, y_test = train_test_split(independet, dependet, test_size=0.30, random_state=0)

In [160]:
from sklearn.svm import SVR

regressor = SVR(kernel = "rbf", C=5000)
#regressor is fitting the X-train and y_train data
regressor.fit(X_train,y_train)

C:\Users\AB92922\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=5000)

In [162]:
regressor.n_support_, regressor.intercept_

(array([936]), array([17164.7718447]))

In [163]:
#machine learning regressor (regressor) to make predictions and saved in y_pred variable
y_pred = regressor.predict(X_test)
y_pred[3]

12852.729391717476

In [164]:
#importing r2_score libarary from sklearn.metrics for model evaulvation
from sklearn.metrics import r2_score

In [165]:
#checking r2 square value between y_test and y_pred
r2_score =r2_score(y_test,y_pred)
#printing r2 square value   #  standardising value
r2_score

0.878460707048034

In [166]:
import pickle
#model saved in save fomat
filenmae = 'ModelInsuranceSvmrBest.sav'
#pickle.dump() serializes the regressor object and writes it to the specified file (filename) in binary mode ('wb').
pickle.dump(regressor, open(filenmae, 'wb'))

In [168]:
# the mode 'rb' used in file operations stands for "read binary" and saved in laoded model
loaded_model = pickle.load(open('ModelInsuranceSvmrBest.sav','rb'))
#using predict keyeword, predicting 15 years of experience of emplyee and predicted value store in result variable
result = loaded_model.predict([[29, 24,  0,  1, 1]])
#pring the result
print(result)

[17164.7718447]